.menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 180px;
}

.menuItem {
  margin-bottom: 10px;
}

.menuLink {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-size: 16px;
  display: block;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  background-color: #444;
}

.menuLink:hover {
  color: #eb3a8d;
}
